<h3>Online Quizz Application</h3>

    <p>
    Taking online quizzes can be formal as well as informal. If you give a presentation about a certain subject and you want to test what the people have learnt from your presentation, you can take a test.  There’s no need for people to download an app, which is very time-consuming. You are able to make an online quiz on any device with a modern browser. From laptops, tablets to mobile phones, as long as you’re connected to the Internet. Our responsive design makes that possible.!</p>
